<div id="<%= dom_id food_item %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= food_item.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Calories:</strong>
    <%= food_item.calories %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Protein:</strong>
    <%= food_item.protein %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Carbs:</strong>
    <%= food_item.carbs %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fats:</strong>
    <%= food_item.fats %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Meal:</strong>
    <%= food_item.meal_id %>
  </div>
</div>
