<%= form_with(model: exercise_tracking, turbo_stream: true, class: "contents") do |form| %>
  <% if exercise_tracking.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(exercise_tracking.errors.count, "error") %> prohibited this exercise_tracking from being saved:</h2>

      <ul class="list-disc ml-6">
        <% exercise_tracking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @workout_plan %>
    <%= form.hidden_field :workout_plan_id, value: @workout_plan.id %>
  <% else %>
    
  <% end %>
  <div class="my-5">
    <%= form.hidden_field :exercise_id, value: @exercise.id %>
    <h3 class="pb-2"><%= @exercise.name %></h3>
    <hr>
  </div>

  <div class="my-5">
    <%= form.label :reps %>
    <%= form.number_field :reps, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": exercise_tracking.errors[:reps].none?, "border-red-400 focus:outline-red-600": exercise_tracking.errors[:reps].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :weight %>
    <%= form.text_field :weight, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": exercise_tracking.errors[:weight].none?, "border-red-400 focus:outline-red-600": exercise_tracking.errors[:weight].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 btn btn-primary text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
