<br>
<li class="border p-3 rounded-xl shadow">
  <strong><%= exercise.name %></strong><br>
  <%= exercise.description %><br>

  <% latest_tracking = exercise.exercise_trackings.order(performed_at: :desc).first %>
  <% if latest_tracking %>
    <p class="text-sm text-gray-600">
      Last tracked: <%= latest_tracking.reps %> reps @ <%= latest_tracking.weight %>kg on <%= latest_tracking.performed_at&.strftime("%Y-%m-%d %H:%M") %>
    </p>
  <% end %>

  <%= link_to "Track this exercise", new_workout_plan_exercise_exercise_tracking_path(workout_plan, exercise), data: { turbo_frame: "_top" }, class: "text-blue-600 hover:underline" %>
</li>
