<%= form_with(model: [@workout_plan, @exercise], class: "contents") do |form| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul class="list-disc ml-6">
        <% exercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control my-5">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: ["input input-bordered w-full", {"input-error": exercise.errors[:name].any?}] %>
  </div>

  <div class="form-control my-5">
    <%= form.label :description, class: "label" %>
    <%= form.textarea :description, rows: 4, class: ["textarea textarea-bordered w-full", {"textarea-error": exercise.errors[:description].any?}] %>
  </div>

  <% if @workout_plan %>
    <div class="form-control my-5">
      <%= label_tag :day_of_the_week, "Day of the Week", class: "label" %>
      <% current_day = @workout_plan.workout_plan_exercises.find_by(exercise: exercise)&.day_of_the_week || params[:day_of_the_week] %>
      <%= select_tag :day_of_the_week, 
          options_for_select([
            ['Monday', 'monday'],
            ['Tuesday', 'tuesday'], 
            ['Wednesday', 'wednesday'],
            ['Thursday', 'thursday'],
            ['Friday', 'friday'],
            ['Saturday', 'saturday'],
            ['Sunday', 'sunday']
          ], current_day), 
          { class: "select select-bordered w-full", 
            prompt: "Select a day" } %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 btn btn-primary text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
