<div class="px-4 py-6 sm:px-6 lg:px-8 max-w-4xl mx-auto">
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-6">
    <h1 class="text-2xl font-bold mb-4 sm:mb-0"><%= @workout_plan.name %> - Exercises</h1>
    <%= link_to "Back to Workout plans", workout_plans_path, class: "btn btn-info text-white text-sm w-full sm:w-auto" %>
  </div>

  <ul class="space-y-4">
    <% weekday_order = %w[Monday Tuesday Wednesday Thursday Friday Saturday Sunday] %>
    <% @workout_plan_exercises
        .group_by(&:day_of_the_week)
        .sort_by { |day, _| weekday_order.index(day.capitalize) || 999 }
        .each do |day, exercises| %>

      <div class="mt-8">
        <div class="text-2xl font-semibold text-primary">
          <%= day.capitalize %>
        </div>
        <div class="divider my-2"></div>

        <div class="space-y-4">
          <% exercises.sort_by(&:order).each do |workout_plan_exercise| %>
            <turbo-frame id="exercise_<%= workout_plan_exercise.exercise.id %>">
              <%= render partial: "exercise", locals: { exercise: workout_plan_exercise.exercise, workout_plan: @workout_plan } %>
            </turbo-frame>
          <% end %>
        </div>
      </div>
    <% end %>
    <br/>
  </ul>
</div>
